@import "assets/styles/theme";

/* styles.css o styles.scss */

/* Estilo base para toda la aplicación */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

#app-root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

footer {
    text-align: center;
    padding: 10px;
    background: #f1f1f1;
}
